<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Proyecto Cronos" />

    <!-- Favicon -->
    <link href="Bou.png" rel="icon" />
		<link href="Bou.png" rel="apple-touch-icon" />

    <!-- FullCalendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
		<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
		<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
		<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link href="node_modules/@fullcalendar/core/main.css" rel="stylesheet">
    <link href="node_modules/@fullcalendar/daygrid/main.css" rel="stylesheet">

    <title>Cronos Demo</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="/style.css" />

    <% if (calendar === "active") { %>
      <script>
        const dataArray = <%- JSON.stringify(calendarCronos) %>;
        const userIds = <%- JSON.stringify(userIds23) %>;
        const projects = <%- JSON.stringify(ProyectsName) %>;
        try {
            var data1 = JSON.parse(dataArray); // This might be unnecessary if dataArray is already a JavaScript object
        } catch(e) {
            console.error('Error parsing data:', e);
        }
        window.user_id1 = "<%= user_id1 %>";
      </script>
  <% } else { %>
      <script>
          var projectId = projectId; // This seems incorrect as it's assigning the variable to itself
          var taskId = taskId;       // Same issue as above
          window.user_id1 = "<%= user_id1 %>";
      </script>
  <% } %>


    <!-- import the webpage's client-side javascript file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <% if (calendar === "active"){ %>
    <script src="/calendar.js" defer></script>
    <% } else { %>
    <script src="/client.js" defer></script>
    <% } %>
  </head>
  <!-- <div class="loader" id="loader"></div> -->
  <body>
    <body id="body-pd">
      <header class="header" id="header" style="display: flex;">
          <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i></div>
          <% if (usuario1 != ""){ %>
          <h2 style= " align-self: flex-end; margin-left: 40rem; ">Hola <%= usuario1 %></h2> 
          <% } %>
      </header>
      <div class="l-navbar" id="nav-bar">
          <nav class="nav">
              <div> <a href="/" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name" style="font-family: 'Courier New', Courier, monospace;">Proyecto Cronos</span> </a>
                  <div class="nav_list"> <a href="/" <%if (proyects == "desactive" && calendar === "desactive"){%> class="nav_link active" <% } else {%> class="nav_link" <% } %> > <i class='bx bx-grid-alt nav_icon'></i> <span style="font-family: 'Courier New', Courier, monospace;" class="nav_name">Ask to Cronos! </span> </a> 
                   <!-- <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span>   </a>-->
                   <!-- <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a>  -->
                  <a href="/Proyects" <% if (proyects === "active" && calendar === "desactive"){ %> class="nav_link active" <% } else { %> class="nav_link" <% } %>><i class='bx bx-folder nav_icon'></i> <span style="font-family: 'Courier New', Courier, monospace;" class="nav_name">Proyectos</span> </a> 
                  <!-- <a href="/" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Status</span> </a>  -->
                  <a href="/calendar" <% if (proyects === "desactive" && calendar === "active"){ %> class="nav_link active" <% } else { %> class="nav_link" <% } %>> <i class='bx bx-calendar nav_icon'></i> <span style="font-family: 'Courier New', Courier, monospace;" class="nav_name">Calendar</span> </a>  
                
                </div>
              </div> <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">LogOut</span> </a>
          </nav>
      </div>