

      <%- include('layout/_partials/_head.ejs') %>
      <!--Container Main start-->
      <div class="height-100 bg-light">
    <% if (calendar === "active"){ %>
      <%- include('layout/_partials/_calendar.ejs') %>
    <% } else { %>
    <% if (proyects === "desactive"){ %>
    <div class = "upperPart" id = "especialMenu">
      <div style="margin-left: 5.5rem; margin-top: 0rem;">
        <div class="Titles1s titulosNecesarios">
          <img id="dedlogo" src="/buosinback.png" alt="logo"/>
        </div>
        <div class="Titles1s sedan-sc-regular titulosNecesarios" style="margin-top: -5rem">
          <p class="TituloCronosAsk">Cronos</p>
        </div>
      </div>
    
    <!-- explicacion general de que es y porque -->
      <main class="main1 main">
        <h2 style="margin-top: -1rem;">¿Qué es Cronos?</h2>
        <p style="margin-top: 0rem;">
        Cronos es una plataforma web que automatiza la creación y gestión de
        bases de datos para estudios y proyectos, utilizando las APIs de Notion
        y OpenAI.
        </p>
        <p style="margin-top: -1rem;">
        Facilita la organización de información y la planificación de tareas con
        fechas de entrega, optimizando la preparación académica y la eficiencia
        en el manejo de datos.
        </p>
    </div>
      <button class="menuhide">Esconder Menu</button>
      <!-- definiendo la tabla que sigue al proceso de arriba -->
      <table class="responsive-table">
        <tr>
          <th class="column-header">Consulta o peticion a la IA</th>
          <th class="column-header">Response</th>
        </tr>
        <tr>
          <td data-label="Consulta o peticion a la IA" class="column-content">
            <form id="databaseForm"  class = "dfs312">
              <label for="dbName">Ingresa los detalles de tu proyecto aqui, puedes poner una fecha limite: </label>
              <textarea id="dbName" placeholder="Ingresa el texto de tu proyecto aquí!" rows="4" style="width: 100%;"></textarea>
              <input type="submit" id="dbSubmit"/>
            </form>
          </td>
          <td data-label="Response" id="dbResponse" class="column-content dfs312"></td>
        </tr>
      </table>
      <!-- marcar esto como importante -->
      <div id="main-container" class="main-container" style="margin-top: 4rem">
        <div id="content-container" class="content-container" ></div>
        <div id="calendar-container" class="calendar-container" >
          <div id="calendar"></div>
      </div>
      </div>
      
      <% } %>
      <% if (proyects === "active"){ %>
        <div class = "upperPart" id = "especialMenu">
          <div style="margin-left: 0.5rem; margin-top: 0rem;">
            <div class="Titles1s ">
              <img class="proyectsLogo" id="dedlogo" src="/buosinback.png" alt="logo"/>
            </div>
            <div class="Titles1s sedan-sc-regular proyectosDeCronos">
              <% if (noExistenProyectos != "true") { %>
              <p class= "proyectosDeCronos1">Proyectos de Cronos</p>
              <a href="<%= notion_url %>" target = "_blank">
              <div class="containerForLogoProyects">
                <img src= "/notion.png" class="NotionImg" alt="Notion"/>
                <p class="lettersNotion">Duplicar en Notion</p>
              
            </div>

            </a>
              <!-- <p style="margin-top: 1rem; font-size: 1rem;">Click aqui para que te lleve al Notion</p>
              <p style="margin-top: 1rem; font-size: 1rem;"> del selecionado</p> -->
              <% }else{ %>
              <p style="margin-top: 1rem; margin-left: -10rem;">Proyectos de Cronos</p>
              <% } %>
            </div>
          </div>
        </div>
        
      <% if (noExistenProyectos == "true") { %>
          <div class="main1 main">
            <h2 style="margin-top: -1rem; margin-left: -2rem;">No hay proyectos en Cronos</h2>
            <p style="margin-top: 0rem; margin-left: -2rem;">
              No hay proyectos en Cronos, por favor crea uno.
            </p>
          </div>
        <% }else{ %>
        
          <% if (numP != "") { %>
            <% try { %>

            <% if (proyectSelected == "") { %>
              <% proyectSelected = 0; %>
            <% } %>
            <% if (!proyectosCronos == "") { %>
        <div class= "tableContainer">
        <div class="tableForProyects">
          <h1 class= "titlesForTables"> Proyectos <%=numP%>  </h1>
          <% for (let i = 0; i < proyectosCronos.proyectos.length; i++) { %>
            <button class="brown-buttonforproyectsname <% if (i == projectId) { %>highlight<% } %>" id = "proyectf<%=i%>"><%= proyectosCronos.proyectos[i].nombre %></button>
          <% } %>
        
        </div>
        <div class="tableForTasks" >
          <h1 class= "titlesForTables" style="margin-left: 32%;"> Tareas <%= proyectosCronos.proyectos[proyectSelected].tareas.length %></h1>
          <% for (let i = 0; i <= proyectosCronos.proyectos[proyectSelected].tareas.length - 1; i++) { %>
            <button class="brown-buttonforTasks <% if (i == taskId) { %>highlight<% } %>" id ="taskf<%=i%>"> <%= proyectosCronos.proyectos[proyectSelected].tareas[i].pasos[0].descripcion%></button>
          <% } %>
        </div>

          <% var textoCompleto = proyectosCronos.proyectos[proyectSelected].tareas[taskSelected].pasos[0].steps_inside_resume; 
             let pasos = textoCompleto.split(/\s(?=\d+\.)/);
             %>
        <div class="tableForSteps"> <!-- esto es pa los steps -->
          <!-- convertimos taskSelected a numero para que se vea bonito -->
          <% var tasknum = parseInt(taskSelected); %>
          <h1 class= "titlesForTables" style="margin-left: 3%; max-width: 100%; justify-content: center; margin-bottom: 1rem; font-size: 2rem;"> <%=proyectosCronos.proyectos[proyectSelected].tareas[taskSelected].pasos[0].descripcion %></h1>
          <% for (let i = 0; i <= pasos.length - 1; i++) { %>
            <p class="brown-buttonforSteps" style="margin-top: -1rem;"><%= pasos[i] %></p>
            
          <% } %>
       
        </div>

        <% } %>
        <% } catch (error) { %>
          <%console.log(error); %>
          <div class="main1 main">
            <h2 style="margin-top: -40rem; margin-left: -1rem;">Ha ocurrido un Error</h2>
            <h2 style="margin-top: 0rem; margin-left: -0rem;">
              Por favor vuelve a seleccionar un proyecto desde la barra lateral.
            </h2>
          </div>
        <% }}}}} %>
    
        <%if (proyects === "active"){ %>
        </div>
        <% } %>

    <%- include('layout/_partials/_footer.ejs') %>

    
    <!-- scripts para el uso general de la pagina -->
    <script src="assets/inicia.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
		<script src="assets/vendor/aos/aos.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
		<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
		<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
		<script src="assets/vendor/typed.js/typed.umd.js"></script>
		<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- FullCalendar -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
  </body>
</html>
